*{
  margin: 0;
  padding: 0;
}


.title-custom{
  color: #4A4A4A;
}

.btn-custom{
  color: #289BDE;
  border: 1px solid #289BDE;
}

.btn-custom-2{
  background-color: #289BDE;
  border: 1px solid #289BDE;
}

.btn-custom:hover,
.btn-custom:focus
{
  background-color: #289BDE;

}

.btn-custom-2:hover,
.btn-custom-2:focus{
  color: #289BDE;
  background-color: white;
  border: 1px solid #289BDE;

}

.modal-custom{
  background-color: #289BDE;
}

.custom-banner {
  filter: brightness(60%);
}